@charset "utf-8";
@import "~bulma/bulma.sass";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&family=Source+Sans+Pro:wght@400;700&display=swap');

// Variables
$text-colour: #131313;
$project-green: #A5FCC6;
$project-blue: #3EA7E4;

// Start CSS
body {
    font-family: 'Quicksand', sans-serif;
    color: $text-colour;
}

h1 {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.6em;
    padding-bottom: 20px;
}

h2 {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.5em;
}

h3 {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.1em;
    text-transform: uppercase;
}

.logo {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.6em;
}

header {
    padding: 40px 30px;

    .column:nth-child(2) {
        text-align: right;
    }

    a {
        color: $text-colour;
        position: relative;
    }

    li {
        display: inline-block;
        padding: 0 20px;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 1px;

        a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -3px;
            left: 0;
            background-color: #131313;
            background-image: linear-gradient(to right, #FFF, $project-green, $project-blue);
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }
    
        a:hover:before {
            visibility: visible;
            transform: scaleX(1);;
        }
    }
}

footer {
    color: #FFF;
    background-color: #000;

    padding: 40px 30px;

    a {
        color: #FFF;
        position: relative;
    }

    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: #FFF;
        background-image: linear-gradient(to right, $project-green, $project-blue);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    a:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
    
    a:hover {
        color: #FFF;
    }

    h1 {
        a {
            padding-bottom: 3px;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 3px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #000, $project-blue);
        }

        a:before {
            height: 3px;
            bottom: -3px;
            background-image: linear-gradient(to left, $project-green, $project-blue);
        }
        
    }

    span {
        text-transform: uppercase;
        font-size: 0.8em;
        color: #757575;
        font-weight: 600;
        padding: 5px 0;
        display: inline-block;
    }

    p {
        line-height: 1.5em;
        padding: 5px 0;
    }

    li {
        padding: 3px 0;
    }

    .column {
        padding-bottom: 30px;
    }

    svg {
        height: 0.7em;
        width: 0.8em;
        position: relative;
        left: 3px;
        color: #D9634A;
    }
}

main {
    padding: 80px 30px;

    h1 {
        span {
            padding-bottom: 0px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 3px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, $project-green, $project-blue);
        }
    }

    p {
        padding: 10px 0;
        line-height: 2em;
    }

    small {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8em;
    }

    .stats {
        padding: 30px 0;
    }

    ul {
        list-style: disc;
        padding-left: 30px;

        li {
            padding: 5px 0;
        }
    }

    .float-right {
        float: right;
    }

    .download {
        background-color: $text-colour;
        border: 1px solid $text-colour;
        color: #FFF;
        padding: 15px 40px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 0.8em;
        transition: all 0.15s ease-in-out;
    }

    .download:hover {
        background-color: #FFF;
        border: 1px solid $text-colour;
        color: $text-colour;
    }

    img.profile {
        height: 280px;
        width: 280px;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .photo {

        text-align: center;
        position: relative;
        left: -40px;

        img {
            height: 450px;
            width: 360px;
            border-radius: 25px;
            margin-bottom: 10px;
        }

        p.description {
            transform: rotate(-270deg);
            float:right;
            position: relative;
            top: -250px;
            right: -190px;
            padding: 0;
            text-align: center;
            width: 450px;
            font-size: 0.6em;
            font-weight: 700;
            letter-spacing: 1px;

            span:nth-child(2) {
                padding: 0 40px;
            }
        }

    }

    a {
        color: $text-colour;
        position: relative;
        font-weight: 600;
    }

    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: $text-colour;
        background-image: linear-gradient(to right, $project-green, $project-blue);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    a:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .cvcard {
        background-color: #E3F2FD;
        padding: 35px 30px;
        margin: 30px 0;

        ul {
            list-style: none;
            padding: 0;
            padding-top: 10px;
        
            li {
                padding: 1px 0;
                font-size: 0.9em;
            }

        }
    }

    .projects {
        padding-top: 100px;

        a:before {
            all: initial;
            * {
                all: unset;
            }
        }

        .gradient-border {
            border-radius: 3px;
            border: 3px solid transparent;
            box-sizing: border-box;
            text-transform: uppercase;
            display:flex;
            justify-content: center;
            align-items: center;
        }

        .gradient-border:hover {            
            background-image:
              linear-gradient(white, white),
              linear-gradient(180deg, $project-green, $project-blue);
      
            background-repeat: no-repeat;
            background-size: 100% 100%, 100% 200%;
            background-position: 0 0, 0 100%;
            background-origin: padding-box, border-box;
            animation: highlight 1s infinite alternate;
          }
      
          @keyframes highlight {
            100% {
              background-position: 0 0, 0 0;
            }
          }
    }

}

@media screen and (max-width: 768px) {
    .logo {
        text-align: center;
    }

    header {
        .column:nth-child(2) {
            text-align: center;
        }
    }

    main {
        padding: 0;

        .download {
            padding: 10px 15px !important;
            width: 100%;
            text-align: center;
            font-size: 0.7em !important;
            margin-bottom: 10px;
        }

        .photo {
            left: -10px;

            p.description {
                right: -235px;
            }
        }

    }

    

    
    
}